<a href="https://colab.research.google.com/github/icarito/UPSK-SQL001-SQLZoo-murder/blob/sql-murder/Sql-Murder-Mystery/SQL_Murder_Mystery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Murder Mystery!
Adapted By: Martin Arroyo

![Detective making connections between points](https://github.com/freestackinitiative/coop_sql_notebooks/blob/main/assets/sleuth.png?raw=1)

**Credit**

This material was adapted from the [SQL Murder Mystery by Knight Lab](https://mystery.knightlab.com/) under [Creative Commons CC BY-SA 4.0](https://creativecommons.org/licenses/by-sa/4.0/). The SQL Murder Mystery was originally created by [Joon Park](https://twitter.com/joonparkmusic) and [Cathy He](https://twitter.com/Cathy_MeiyingHe) while they were Knight Lab fellows. See the [GitHub repository](https://github.com/NUKnightLab/sql-mysteries) for more information.

## Escenario

¡Se ha cometido un crimen y los detectives necesitan tu ayuda! Te dieron el informe de la escena del crimen, pero de alguna manera lo perdiste. Recuerdas vagamente que el crimen fue un `murder` _(asesinato)_ que ocurrió en algún momento el 15 de Enero de 2018 y que tuvo lugar en `SQL City`. Depende de ti averiguar quién es el asesino usando solo tus habilidades en SQL y tu ingenio. Te proporcionan una conexión a la base de datos del Departamento de Policía, que tiene todas las pistas que necesitarás para atrapar al asesino.

Usa las habilidades que desarrollaste en SQL 101 y 102, junto con cualquier recurso que desees, para resolver el `SQL Murder Mystery`!"

## Conéctate a la base de datos del Departamento de Policía

Para comenzar y ejecutar tus consultas, presiona play en la celda de abajo para conectarte a la base de datos del Departamento de Policía.

Para ejecutar consultas, crea una nueva celda de `Code` y escribe `%%sql` en la parte superior. Luego puedes escribir tus consultas debajo. Ve el ejemplo a continuación:
```python
%%sql

SELECT *
FROM table

```

In [9]:
%%capture
# @title Press Play { display-mode: "form" }
# Install `teachdb` and `coop_grader`
print("Installing `teachdb` and its dependencies...")
!pip install --quiet --upgrade git+https://github.com/freestackinitiative/teachingdb.git git+https://github.com/martinmarroyo/coop_grader.git
print("Successfully installed `teachdb`")
import pandas as pd
from teachdb.teachdb import connect_teachdb
from coop_grader.sql_murder_mystery.check_suspect import check_suspect
# Set configurations for notebook
%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', 99)
# Load data
con = connect_teachdb(database="sql_murder_mystery")

%sql con

## Descubriendo tablas en la base de datos

Comenzamos nuestra búsqueda para encontrar al asesino explorando la base de datos del Departamento de Policía. Pero aún no has visto la base de datos y no sabes cuáles son las tablas, así que, ¿cómo sabes qué buscar?

Afortunadamente, la mayoría de los sistemas de gestión de bases de datos relacionales tienen esta información almacenada en un lugar donde puedes consultarla. Muy a menudo, se utiliza un esquema especial conocido como [`information_schema`](https://en.wikipedia.org/wiki/Information_schema) para almacenar información sobre las tablas y columnas en tu base de datos (también conocido como metadata). La base de datos del Departamento de Policía tiene un information schema, con la vista `tables` que te muestra qué tablas están disponibles, y la vista `columns` que te muestra todas las columnas de cada tabla y sus tipos de datos.

### Listando todas las tablas en la base de datos de la Policía

#### Revisa la [descripción de `information_schema.tables`](https://duckdb.org/docs/sql/information_schema.html#tables-and-views)

Primero, veremos todas las tablas disponibles para nosotros consultando la vista `information_schema.tables`. Te daremos la primera consulta para empezar, pero de aquí en adelante tendrás que idear las consultas restantes utilizando tu conocimiento de SQL y tu ingenio.

Aquí está la consulta necesaria para mostrarte las tablas en la base de datos del Departamento de Policía. Cópiala/Pégala en la celda de abajo y ejecútala para ver las tablas disponibles para ti:

>```sql
>SELECT *
>FROM information_schema.tables
>```

In [10]:
%%sql

SELECT *
FROM information_schema.tables

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action,TABLE_COMMENT
0,memory,main,crime_scene_report,BASE TABLE,None,None,None,None,None,YES,NO,None,None
1,memory,main,drivers_license,BASE TABLE,None,None,None,None,None,YES,NO,None,None
2,memory,main,facebook_event_checkin,BASE TABLE,None,None,None,None,None,YES,NO,None,None
3,memory,main,get_fit_now_check_in,BASE TABLE,None,None,None,None,None,YES,NO,None,None
4,memory,main,get_fit_now_member,BASE TABLE,None,None,None,None,None,YES,NO,None,None
5,memory,main,income,BASE TABLE,None,None,None,None,None,YES,NO,None,None
6,memory,main,interview,BASE TABLE,None,None,None,None,None,YES,NO,None,None
7,memory,main,person,BASE TABLE,None,None,None,None,None,YES,NO,None,None

### Listando todas las tablas y sus columnas en la base de datos de la Policía

**Revisa la [descripción de `information_schema.columns`](https://duckdb.org/docs/sql/information_schema.html#columns)**

¡Genial! Ahora que sabes qué tablas están disponibles, es hora de averiguar las columnas que tiene cada tabla junto con el tipo de datos de cada columna. Escribe una consulta que muestre el nombre de la tabla, el nombre de la columna y el tipo de datos para cada tabla en la base de datos del Departamento de Policía utilizando la vista `information_schema.columns`. Asegúrate de que la salida esté ordenada por nombre de tabla y luego por nombre de columna (ascendente):

*Pistas opcionales - ¡intenta usarlas solo si te quedas **REALMENTE** atascado!*

<details>
<summary>Pista 1</summary>
<p>Estructura tu consulta de la misma manera que lo hicimos en la consulta anterior donde miramos `information_schema.tables`</p>
</details>

<details>
<summary>Pista 2</summary>
<p>Asegúrate de revisar el enlace para la descripción de information_schema.columns. Te dirá los nombres de las columnas que debes usar para la consulta. Recuerda, queremos el nombre de la tabla, el nombre de la columna y el tipo de datos - ¡revisa la descripción para encontrar los nombres apropiados!</p>
</details>

<details>
<summary>Pista 3</summary>
<p>No olvides usar la declaración ORDER BY para ordenar los resultados de tu búsqueda. Estamos buscando ordenar ambas columnas en orden ascendente, lo cual se puede especificar usando la palabra clave ASC, sin embargo, también es el orden de clasificación predeterminado, por lo que ASC no es necesariamente requerido.</p>
</details>

In [33]:
%%sql

SELECT DISTINCT tables.table_name, columns.column_name, columns.data_type
FROM information_schema.tables
JOIN information_schema.columns ON tables.table_schema = columns.table_schema

                 table_name            column_name data_type
0        crime_scene_report                    ssn    BIGINT
1    facebook_event_checkin                    ssn    BIGINT
2      get_fit_now_check_in                    ssn    BIGINT
3                    person                    ssn    BIGINT
4           drivers_license    address_street_name   VARCHAR
5    facebook_event_checkin    address_street_name   VARCHAR
6      get_fit_now_check_in    address_street_name   VARCHAR
7        get_fit_now_member    address_street_name   VARCHAR
8                 interview    address_street_name   VARCHAR
9                    person    address_street_name   VARCHAR
10       crime_scene_report         address_number    BIGINT
11   facebook_event_checkin         address_number    BIGINT
12     get_fit_now_check_in         address_number    BIGINT
13       get_fit_now_member         address_number    BIGINT
14                interview         address_number    BIGINT
15                   person         address_number    BIGINT
16                interview             license_id    BIGINT
17                   person             license_id    BIGINT
18       crime_scene_report                   name   VARCHAR
19          drivers_license                   name   VARCHAR
20   facebook_event_checkin                   name   VARCHAR
21     get_fit_now_check_in                   name   VARCHAR
22                   income                   name   VARCHAR
23       crime_scene_report                     id    BIGINT
24          drivers_license                     id    BIGINT
25   facebook_event_checkin                     id    BIGINT
26     get_fit_now_check_in                     id    BIGINT
27                   income                     id    BIGINT
28                interview                     id    BIGINT
29       crime_scene_report             transcript   VARCHAR
30     get_fit_now_check_in             transcript   VARCHAR
31       get_fit_now_member             transcript   VARCHAR
32                   income             transcript   VARCHAR
33                   person             transcript   VARCHAR
34       crime_scene_report              person_id    BIGINT
35          drivers_license              person_id    BIGINT
36   facebook_event_checkin              person_id    BIGINT
37                   income              person_id    BIGINT
38   facebook_event_checkin          annual_income    BIGINT
39     get_fit_now_check_in          annual_income    BIGINT
40                   person          annual_income    BIGINT
41   facebook_event_checkin      membership_status   VARCHAR
42       get_fit_now_member      membership_status   VARCHAR
43                   income      membership_status   VARCHAR
44                interview      membership_status   VARCHAR
45                   person      membership_status   VARCHAR
46       crime_scene_report  membership_start_date    BIGINT
47          drivers_license  membership_start_date    BIGINT
48   facebook_event_checkin  membership_start_date    BIGINT
49                   income  membership_start_date    BIGINT
50                   person  membership_start_date    BIGINT
51       get_fit_now_member                     id   VARCHAR
52                   person                     id   VARCHAR
53       get_fit_now_member         check_out_time    BIGINT
54                   income         check_out_time    BIGINT
55                interview         check_out_time    BIGINT
56                   person         check_out_time    BIGINT
57          drivers_license          check_in_time    BIGINT
58   facebook_event_checkin          check_in_time    BIGINT
59     get_fit_now_check_in          check_in_time    BIGINT
60       get_fit_now_member          check_in_time    BIGINT
61                   income          check_in_time    BIGINT
62          drivers_license          check_in_date    BIGINT
63                   income          check_in_date    BIGINT
64                interview          check_in_date    BIGINT
65                   person          check_in_date    BIGINT
66          drivers_license          membership_id   VARCHAR
67     get_fit_now_check_in          membership_id   VARCHAR
68                interview          membership_id   VARCHAR
69          drivers_license                   date    BIGINT
70       get_fit_now_member                   date    BIGINT
71                interview                   date    BIGINT
72       crime_scene_report             event_name   VARCHAR
73                   income             event_name   VARCHAR
74                   person             event_name   VARCHAR
75   facebook_event_checkin               event_id    BIGINT
76     get_fit_now_check_in               event_id    BIGINT
77                interview               event_id    BIGINT
78                   person               event_id    BIGINT
79   facebook_event_checkin              car_model   VARCHAR
80     get_fit_now_check_in              car_model   VARCHAR
81       get_fit_now_member              car_model   VARCHAR
82                   income              car_model   VARCHAR
83                   person              car_model   VARCHAR
84       crime_scene_report               car_make   VARCHAR
85          drivers_license               car_make   VARCHAR
86   facebook_event_checkin               car_make   VARCHAR
87     get_fit_now_check_in               car_make   VARCHAR
88       get_fit_now_member               car_make   VARCHAR
89                   person               car_make   VARCHAR
90          drivers_license           plate_number   VARCHAR
91     get_fit_now_check_in           plate_number   VARCHAR
92                   income           plate_number   VARCHAR
93                   person           plate_number   VARCHAR
94     get_fit_now_check_in                 gender   VARCHAR
95                   income                 gender   VARCHAR
96                   person                 gender   VARCHAR
97       crime_scene_report             hair_color   VARCHAR
98                   income             hair_color   VARCHAR
99                interview             hair_color   VARCHAR
100      crime_scene_report              eye_color   VARCHAR
101    get_fit_now_check_in              eye_color   VARCHAR
102               interview              eye_color   VARCHAR
103                  person              eye_color   VARCHAR
104         drivers_license                 height    BIGINT
105               interview                 height    BIGINT
106      crime_scene_report                    age    BIGINT
107         drivers_license                    age    BIGINT
108      get_fit_now_member                    age    BIGINT
109      crime_scene_report                   city   VARCHAR
110         drivers_license                   city   VARCHAR
111  facebook_event_checkin                   city   VARCHAR
112                  person                   city   VARCHAR
113      crime_scene_report            description   VARCHAR
114  facebook_event_checkin            description   VARCHAR
115                  income            description   VARCHAR
116               interview            description   VARCHAR
117         drivers_license                   type   VARCHAR
118    get_fit_now_check_in                   type   VARCHAR
119      get_fit_now_member                   type   VARCHAR
120                  person                   type   VARCHAR
121         drivers_license                    ssn    BIGINT
122      get_fit_now_member                    ssn    BIGINT
123                  income                    ssn    BIGINT
124               interview                    ssn    BIGINT
125      crime_scene_report    address_street_name   VARCHAR
126                  income    address_street_name   VARCHAR
127         drivers_license         address_number    BIGINT
128                  income         address_number    BIGINT
129      crime_scene_report             license_id    BIGINT
130         drivers_license             license_id    BIGINT
131  facebook_event_checkin             license_id    BIGINT
132    get_fit_now_check_in             license_id    BIGINT
133      get_fit_now_member             license_id    BIGINT
134                  income             license_id    BIGINT
135      get_fit_now_member                   name   VARCHAR
136               interview                   name   VARCHAR
137                  person                   name   VARCHAR
138      get_fit_now_member                     id    BIGINT
139                  person                     id    BIGINT
140         drivers_license             transcript   VARCHAR
141  facebook_event_checkin             transcript   VARCHAR
142               interview             transcript   VARCHAR
143    get_fit_now_check_in              person_id    BIGINT
144      get_fit_now_member              person_id    BIGINT
145               interview              person_id    BIGINT
146                  person              person_id    BIGINT
147      crime_scene_report          annual_income    BIGINT
148         drivers_license          annual_income    BIGINT
149      get_fit_now_member          annual_income    BIGINT
150                  income          annual_income    BIGINT
151               interview          annual_income    BIGINT
152      crime_scene_report      membership_status   VARCHAR
153         drivers_license      membership_status   VARCHAR
154    get_fit_now_check_in      membership_status   VARCHAR
155    get_fit_now_check_in  membership_start_date    BIGINT
156      get_fit_now_member  membership_start_date    BIGINT
157               interview  membership_start_date    BIGINT
158      crime_scene_report                     id   VARCHAR
159         drivers_license                     id   VARCHAR
160  facebook_event_checkin                     id   VARCHAR
161    get_fit_now_check_in                     id   VARCHAR
162                  income                     id   VARCHAR
163               interview                     id   VARCHAR
164      crime_scene_report         check_out_time    BIGINT
165         drivers_license         check_out_time    BIGINT
166  facebook_event_checkin         check_out_time    BIGINT
167    get_fit_now_check_in         check_out_time    BIGINT
168      crime_scene_report          check_in_time    BIGINT
169               interview          check_in_time    BIGINT
170                  person          check_in_time    BIGINT
171      crime_scene_report          check_in_date    BIGINT
172  facebook_event_checkin          check_in_date    BIGINT
173    get_fit_now_check_in          check_in_date    BIGINT
174      get_fit_now_member          check_in_date    BIGINT
175      crime_scene_report          membership_id   VARCHAR
176  facebook_event_checkin          membership_id   VARCHAR
177      get_fit_now_member          membership_id   VARCHAR
178                  income          membership_id   VARCHAR
179                  person          membership_id   VARCHAR
180      crime_scene_report                   date    BIGINT
181  facebook_event_checkin                   date    BIGINT
182    get_fit_now_check_in                   date    BIGINT
183                  income                   date    BIGINT
184                  person                   date    BIGINT
185         drivers_license             event_name   VARCHAR
186  facebook_event_checkin             event_name   VARCHAR
187    get_fit_now_check_in             event_name   VARCHAR
188      get_fit_now_member             event_name   VARCHAR
189               interview             event_name   VARCHAR
190      crime_scene_report               event_id    BIGINT
191         drivers_license               event_id    BIGINT
192      get_fit_now_member               event_id    BIGINT
193                  income               event_id    BIGINT
194      crime_scene_report              car_model   VARCHAR
195         drivers_license              car_model   VARCHAR
196               interview              car_model   VARCHAR
197                  income               car_make   VARCHAR
198               interview               car_make   VARCHAR
199      crime_scene_report           plate_number   VARCHAR
200  facebook_event_checkin           plate_number   VARCHAR
201      get_fit_now_member           plate_number   VARCHAR
202               interview           plate_number   VARCHAR
203      crime_scene_report                 gender   VARCHAR
204         drivers_license                 gender   VARCHAR
205  facebook_event_checkin                 gender   VARCHAR
206      get_fit_now_member                 gender   VARCHAR
207               interview                 gender   VARCHAR
208         drivers_license             hair_color   VARCHAR
209  facebook_event_checkin             hair_color   VARCHAR
210    get_fit_now_check_in             hair_color   VARCHAR
211      get_fit_now_member             hair_color   VARCHAR
212                  person             hair_color   VARCHAR
213         drivers_license              eye_color   VARCHAR
214  facebook_event_checkin              eye_color   VARCHAR
215      get_fit_now_member              eye_color   VARCHAR
216                  income              eye_color   VARCHAR
217      crime_scene_report                 height    BIGINT
218  facebook_event_checkin                 height    BIGINT
219    get_fit_now_check_in                 height    BIGINT
220      get_fit_now_member                 height    BIGINT
221                  income                 height    BIGINT
222                  person                 height    BIGINT
223  facebook_event_checkin                    age    BIGINT
224    get_fit_now_check_in                    age    BIGINT
225                  income                    age    BIGINT
226               interview                    age    BIGINT
227                  person                    age    BIGINT
228    get_fit_now_check_in                   city   VARCHAR
229      get_fit_now_member                   city   VARCHAR
230                  income                   city   VARCHAR
231               interview                   city   VARCHAR
232         drivers_license            description   VARCHAR
233    get_fit_now_check_in            description   VARCHAR
234      get_fit_now_member            description   VARCHAR
235                  person            description   VARCHAR
236      crime_scene_report                   type   VARCHAR
237  facebook_event_checkin                   type   VARCHAR
238                  income                   type   VARCHAR
239               interview                   type   VARCHAR

### Entity Relationship Diagram (Optional)

After doing some detective work and finding the tables in the Police Department database, you discover that there is an ERD! This can be really helpful in your quest to find the murderer. If you like, challenge yourself (and your SQL skills) to continue on by just querying the `information_schema` as needed. Otherwise, you can click the dropdown below to reveal the ERD to help you see the tables and relationships in the Police Department database at a glance:

<details>
  <summary>Check the SQL Murder Mystery ERD</summary>
  <img src="https://github.com/freestackinitiative/coop_sql_notebooks/blob/main/assets/murder_mystery_schema.png?raw=1" alt="ERD for SQL Murder Mystery"/>
</details>

### Diagrama de Relaciones de Entidad (Opcional)

Después de hacer un poco de trabajo de detective y encontrar las tablas en la base de datos del Departamento de Policía, descubres que hay un ERD (Diagrama de Relaciones de Entidad). Esto puede ser realmente útil en tu búsqueda para encontrar al asesino. Si lo prefieres, desafíate a ti mismo (y tus habilidades en SQL) a continuar solo consultando el `information_schema` según sea necesario. De lo contrario, puedes hacer clic en el desplegable a continuación para revelar el ERD que te ayudará a ver las tablas y las relaciones en la base de datos del Departamento de Policía de un vistazo:

<details>
  <summary>Revisa el ERD del SQL Murder Mystery</summary>
  <img src="https://github.com/freestackinitiative/coop_sql_notebooks/blob/main/assets/murder_mystery_schema.png?raw=1" alt="ERD for SQL Murder Mystery"/>
</details>

In [41]:
%%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

___

## Resolviendo el Misterio (y verificando si resolviste el caso)

De aquí en adelante, usarás tus habilidades y las pistas en la base de datos del Departamento de Policía para encontrar al asesino. Cuando creas que has encontrado al asesino, vuelve a esta sección y usa la celda de abajo para verificar tu respuesta y ver si encontraste al asesino:

ejemplo:
```python
check_suspect("Adam Levine")
```

In [ ]:
check_suspect("Write the suspected murderer's full name here")

---

## Espacio de Trabajo

Usa las celdas de abajo para escribir tus consultas y trabajar en resolver el misterio. Cuando tengas un sospechoso, verifica tu respuesta usando la [celda arriba de esta](#solving-the-mystery-and-checking-if-you-cracked-the-case) y ejecuta su nombre a través de la función `check_suspect`. Si encuentras al asesino, la función te lo dirá.

No olvides usar `%%sql` en la parte superior de las celdas de `Code` que crees para que tus consultas SQL funcionen. ¡Buena suerte, detectives!

Reviso la base de satos sobre el reporte de la escena del crimen. Agrego un query donde se consulten los datos de la escena que tenga lugar en 'SQL City' específicamente.

In [54]:
%%sql
SELECT date, type, description
FROM crime_scene_report
WHERE city = 'SQL City';

,date,type,description
0,20180215,murder,REDACTED REDACTED REDACTED
1,20180215,murder,Someone killed the guard! He took an arrow to the knee!
2,20170712,theft,"A lone hunter stalks the night, firing arrows into the Darkness.\n There is no hidin..."
3,20170820,arson,"Wield the Hammer of Sol with honor, Titan, it is a thing of\n legend, both past and ..."
4,20171110,robbery,The Gjallarhorn shoulder-mounted rocket system was forged from\n the armor of Guardi...
5,20180103,bribery,"Apparently, Cayde thought it necessary to expose this extremely\n rare vegetable to ..."
6,20180115,assault,"Hamilton: Lee, do you yield? Burr: You shot him in the side! Yes he yields!"
7,20180115,assault,Report Not Found
8,20180115,murder,Security footage shows that there were 2 witnesses. The first witness lives at the last house o...

In [55]:
%%sql
SELECT *
FROM get_fit_now_check_in
WHERE check_in_date = 20180215

  membership_id  check_in_date  check_in_time  check_out_time
0         K055L       20180215           1056            1097
1         TXNSC       20180215            176             843
2         E18IN       20180215            756            1005
3         3OOJ1       20180215            954            1050
4         X377L       20180215            465             694
5         MN1KI       20180215            241             809

In [73]:
%%sql
SELECT *
FROM get_fit_now_member
WHERE person_id = 41065

Empty DataFrame
Columns: [id, person_id, name, membership_start_date, membership_status]
Index: []

In [74]:
%%sql
SELECT *
FROM interview
WHERE person_id = 41065

Empty DataFrame
Columns: [person_id, transcript]
Index: []

In [75]:
%%sql
SELECT *
FROM facebook_event_checkin
WHERE date = 20180215
AND person_id = 41065

,person_id,event_id,event_name,date
0,41065,2210,"Message will arrive in the mail. Destroy, before the FBI sees it.\n",20180215

In [77]:
%%sql
SELECT *
FROM person
WHERE id = 41065

      id              name  license_id  address_number address_street_name        ssn
0  41065  Moises Stansifer      820445            3888    Singing Wood Ave  245986261

In [79]:
%%sql
SELECT *
FROM drivers_license
WHERE id = 41065

Empty DataFrame
Columns: [id, age, height, eye_color, hair_color, gender, plate_number, car_make, car_model]
Index: []

In [ ]:
%%sql
SELECT *
FROM income
WHERE ssn = 245986261